---
layout: page
title: >-
  <font color='77aaff'>Spirit</font> <i>and</i> <font
  color='77ffaa'>Truth</font>
description: >-
  The <font color='77aaff'>Spirit</font> gives life; the flesh counts for
  nothing. The <font color='77ffaa'>words</font> I have spoken to you are spirit
  and they are life. - Jesus (John 6:63)
published: true
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Written by {% if post.author %}{{ post.author }}{% else %}{{ site.copyright_name }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
</br>
<p class="font-size: small; font-style: italic;">
  * About the cover image: The cover image is a photo of Skellig Michael.
</p>
